*{
  margin:0;
  padding:0;
}
header{
  width: 100%;
}
.To-Do-list{
  background-color:seagreen;
  margin:20px;
  height: 160px;
  padding:10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-around;
}
h2{
  color: azure;
}

ul{
  list-style: none;
  display: flex;
  width:100%;
  height: 30px;
  justify-content: center;
  
}
li{
  margin-right: 10px;
  margin-left:10px;
}
a{
  color: azure; 
}
main{
  width: 100%;
  height: 700px;
  justify-content: center;
  display: flex;
}
.tasks{
  width: 400px;
  height: fit-content;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
}

.bigspan{
  display: flex;
  justify-content: space-around;

  flex-direction: column;
}
.divdiv{
  display: flex;
  justify-content:center;
  
}
.pp, .abc{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 5px;
}
